<!-- eslint-disable vue/multi-word-component-names -->
<script lang="ts" setup>
// eslint-disable-next-line no-unused-vars
const dummy = {};
</script>

<template>
	<div class="dummy" />
</template>

<style scoped>
.dummy {
}
</style>
